:root {
  --carousel-speed: 10s
}

#infinite-carousel-wrapper {
  overflow: hidden;
  height: 100%;
  display: flex;
  /* align-items: center; */
  user-select: none;
}

#infinite-carousel {
  display: flex;
  animation: infiniteCarousel var(--carousel-speed) linear infinite;
  animation-play-state: running;
}

#infinite-carousel:hover {
  animation-play-state: paused;
}

#infinite-carousel .slide img {
  height: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

@keyframes infiniteCarousel {
  0% {
    transform: translate3d(0, 0, 0)
  }

  100% {
    transform: translate3d(-50%, 0, 0)
  }
}