<section id="beneficios" class="s-about target-section">
  <style>
    .parrafo-oculto2 {
      display: none;
    }
  </style>

  <div
    class="row section-header bit-narrow"
    data-duration="100"
    data-aos-delay="50"
    data-aos="fade-up"
  >
    <div class="col-full">
      <h3 class="subhead">Beneficios de la tercerización</h3>
      <!-- <h1 class="display-1">
              GEA SRL se ha constituido para atender todas las necesidades de Mantenimiento Integral que requiera su Comercio, Oficinas, Depósitos, Complejo Habitacional, Establecimiento, etc.
            </h1> -->
    </div>
  </div>

  <div class="row bit-narrow">
    <div class="about-process process block-1-2 block-tab-full">
      <div
        class="col-block item-process"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Enfoque en el núcleo empresarial</h4>
          <p>
            Permite al cliente concentrarse en el corazón de su empresa,
            desarrollando y consolidando sus ventajas competitivas.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Decisión estratégica</h4>
          <p>
            Establece alianzas a largo plazo, donde el éxito de uno garantiza el
            éxito del otro.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Especialización y profesionalismo</h4>
          <p>Se garantiza la ejecución de tareas por expertos en el campo.</p>
        </div>
      </div>
      <div
        class="col-block item-process"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Optimización de recursos</h4>
          <p>Brinda la oportunidad de potenciar los recursos de la empresa.</p>
        </div>
      </div>
      <div
        class="col-block item-process"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Centralización de proveedores</h4>
          <p>
            GEA SRL actúa como único interlocutor, simplificando la gestión y
            reduciendo la cantidad de facturas.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Gestión de riesgos técnicos</h4>
          <p>
            Al incluir reparaciones en el acuerdo mensual, el cliente
            subcontrata sus riesgos técnicos.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Reducción de contingencias de personal</h4>
          <p>
            Disminuye la dependencia del personal propio y sus contingencias.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Ahorro de costos</h4>
          <p>
            Se reduce el gasto en selección, administración, supervisión y
            capacitación del personal.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Continuidad del servicio</h4>
          <p>
            Se asegura la cobertura durante vacaciones, licencias y ausencias.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Gestión de indemnizaciones</h4>
          <p>
            El personal responde a GEA SRL, evitando acumulación de
            indemnizaciones por parte del cliente.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Ahorro en inversión de maquinaria</h4>
          <p>
            Se elimina la necesidad de invertir en maquinaria para mantenimiento
            y limpieza edilicias.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Optimización de instalaciones y recursos</h4>
          <p>
            Se maximiza el uso de instalaciones, energía y recursos totales.
          </p>
        </div>
      </div>
      <div
        class="col-block item-process parrafo-oculto2"
        data-duration="100"
        data-aos-delay="50"
        data-aos="fade-up"
      >
        <div class="item-process__text">
          <h4 class="item-title">Transparencia en costos</h4>
          <p>
            El costo del Mantenimiento Preventivo, Correctivo, Predictivo se
            conoce de antemano gracias a relevamientos estadísticos
            preestablecidos.
          </p>
        </div>
      </div>
    </div>

    <button
      id="ver-mas-btn2"
      style="padding-inline: 25px"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      Ver más
    </button>
  </div>

  <script>
    let verMasBtn2 = document.getElementById("ver-mas-btn2");
    let parrafosOcultos2 = document.querySelectorAll(".parrafo-oculto2");

    verMasBtn2.addEventListener("click", () => {
      parrafosOcultos2.forEach((parrafo) => {
        parrafo.classList.toggle("parrafo-oculto2");
      });

      if (verMasBtn2.innerText.trim() == "Ver más") {
        verMasBtn2.innerText = "Ver menos";
      } else {
        verMasBtn2.innerText = "Ver más";
      }
    });
  </script>
</section>
