<footer class="bg-neutral-800/70 py-3">
  <div class="text-center text-white" style="font-size: 1.8rem">
    <span>
      Desarrollado por
      <a
        href="https://www.instagram.com/ag_desarrolloweb/"
        style="color: #e23c9c; text-decoration: underline"
      >
        AG Desarrollo Web
      </a>
    </span>
  </div>
</footer>
