---
import mantenimiento1 from "../assets/images/mantenimiento1.jpg";
import mantenimiento2 from "../assets/images/mantenimiento2.jpg";
---

<section id="mantenimiento" class="s-works target-section">
  <div
    class="row section-header bit-narrow mb-[7rem]"
    data-duration="100"
    data-aos-delay="50"
    data-aos="fade-up"
  >
    <div class="col-full">
      <h3 class="subhead">Mantenimiento</h3>
      <h1 class="display-1">
        Reduzca fallos y optimice con planificación y criterios establecidos.
      </h1>
    </div>
  </div>

  <div class="row gap-4">
    <div
      class="grid grid-cols-1 md:grid-cols-2 mb-[7.25rem] gap-6"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="order-last md:order-first flex justify-center">
        <img
          src={mantenimiento1.src}
          style="max-height: 500px; object-fit: contain"
          class="img-responsive"
        />
      </div>
      <div class="px-4">
        <h2 class="subhead">Mantenimiento Preventivo</h2>
        <p style="font-size: 2rem">
          Se trata de un conjunto de tareas efectuadas a intervalos
          predeterminados ó de acuerdo a criterios preestablecidos definidos por
          el fabricante, experiencia ó estudios que hacen a la mejora de su
          fiabilidad/mantenibilidad y que tienen como fin reducir las
          probabilidades de falla o la degradación de una entidad. Aglutina los
          siguientes tipos de mantenimiento: Predictivo, Condicional y
          Detectivo.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="p-4">
        <h2 class="subhead">Mantenimiento Cíclico</h2>
        <p style="font-size: 2rem">
          Al mantenimiento preventivo efectuado a una entidad de acuerdo a un
          parámetro establecido en función del tiempo (horas de funcionamiento)
          ó, número de unidades producidas.
        </p>
      </div>
      <div class="flex justify-center">
        <img
          src={mantenimiento2.src}
          style="max-height: 500px; object-fit: contain"
          class="img-responsive"
        />
      </div>
    </div>
  </div>
</section>
