<section id="servicios" class="s-services target-section darker">
  <div
    class="row section-header bit-narrow"
    data-duration="100"
    data-aos-delay="50"
    data-aos="fade-up"
  >
    <div class="col-full">
      <h3 class="subhead">Servicios</h3>
      <h1 class="display-1">
        Nos comprometemos a ofrecer soluciones de calidad que impulsen su
        negocio hacia el éxito.
      </h1>
    </div>
  </div>

  <div class="row bit-narrow services block-1-2 block-tab-full">
    <div
      class="col-block item-service"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="item-service__icon">
        <i class="icon-star"></i>
      </div>
      <div class="item-service__text">
        <h3 class="item-title">Eléctricos</h3>
        <p>
          Desde el pilar de acometida de entrada y hasta el último de los
          equipos/aparatos insta- lados en la sede física de una fabrica,
          edificio, oficina.
        </p>
      </div>
    </div>

    <div
      class="col-block item-service"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="item-service__icon">
        <i class="icon-group"></i>
      </div>
      <div class="item-service__text">
        <h3 class="item-title">Iluminación</h3>
        <p>
          Mantener el nivel de iluminación acorde con normas de seguridad y del
          ámbito en el cual se desempeñan las tareas.
        </p>
      </div>
    </div>

    <!-- <div class="col-block item-service" data-duration='100' data-aos-delay='50' data-aos="fade-up">
            <div class="item-service__icon">
              <i class="icon-pie-chart"></i>
            </div>
            <div class="item-service__text">
              <h3 class="item-title">Ascensores y Montacargas</h3>
              <p>Involucra a todo tipo de Elevadores verticales y Montacargas que se encuentra dentro del perímetro de la Empresa a Mantener, contando con Empresas autorizadas para realizar el mantenimiento de acuerdo a normas.
              </p>
            </div>
          </div> -->

    <div
      class="col-block item-service"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="item-service__icon">
        <i class="icon-image"></i>
      </div>
      <div class="item-service__text">
        <h3 class="item-title">Obras Civiles</h3>
        <p>
          Consiste en el mantenimiento integral de toda la obra
          civil/edificio/sanitaria/carpintería metálica.
        </p>
      </div>
    </div>

    <div
      class="col-block item-service"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="item-service__icon">
        <i class="icon-cube"></i>
      </div>
      <div class="item-service__text">
        <h3 class="item-title">Servicios de Aire Acondicionado</h3>
        <p>
          Incluye a los Equipo de Aire Acondicionado, confort o industriales de
          agua helada tipo Chiller, cámaras frigoríficas, góndolas
          acondicionadas para alimentos frescos.
        </p>
      </div>
    </div>

    <div
      class="col-block item-service"
      data-duration="100"
      data-aos-delay="50"
      data-aos="fade-up"
    >
      <div class="item-service__icon"><i class="icon-lego-block"></i></div>
      <div class="item-service__text">
        <h3 class="item-title">
          Mantenimiento básico de Redes Informáticas y Telefónicas
        </h3>
        <p>
          Mantenimiento de todos los sistemas informáticos. Voz y dato, Redes y
          sistemas de impresión.
        </p>
      </div>
    </div>
  </div>
</section>
